[user]
	email = tpxsky@163.com
	name = pix
[core]
	editor = vim
	whitespace = fix, -indent-with-non-tab, trailing-space, cr-at-eol
	excludesfile=~/.gitignore_global
	autocrlf = input
[alias]
    rm="rebase master"
    dc="diff --cached"
    dm="diff master"
    s="status -s"
    cm="commit -m"
    po="push origin"
    pom="push origin master"
    rebase2="rebase -i HEAD~~"
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    co="clone"
    a="add"
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
  tool = diffmerge
# [mergetool "diffmerge"]
#   cmd = diffmerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
# [includeIf "gitdir:~/dev/linux-demo/git/"]
# 	path = ~/dev/linux-demo/git/.gitconfig
[commit]
	template = ~/dev/linux-demo/git/.gitmessage
	
